#Class in Object Oriented Programming

In [2]:
a = 3
print(type(a))

<class 'int'>

In [3]:
b = "Neha"
print(type(b))

<class 'str'>

In [4]:
d = {
    "Roll no" : [101,102,103],
    "Name" : ["rina","Dishul","Kiya"],
    "Marks" : [85,91,78]

}

In [5]:
print(type(d))

<class 'dict'>

In [6]:
import pandas as pd
df = pd.DataFrame(d)
df

   Roll no    Name  Marks
0      101    rina     85
1      102  Dishul     91
2      103    Kiya     78

In [7]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

# Attributes in Class

In [8]:
df.columns

Index(['Roll no', 'Name', 'Marks'], dtype='object')

In [9]:
df.columns

Index(['Roll no', 'Name', 'Marks'], dtype='object')

In [10]:
list(df.index)

[0, 1, 2]

In [11]:
df.shape

(3, 3)

In [12]:
df.dtypes

Roll no     int64
Name       object
Marks       int64
dtype: object

#Methods of Class DataFrame

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Roll no  3 non-null      int64
 1   Name     3 non-null      object
 2   Marks    3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 204.0+ bytes

In [15]:
df.sort_values(by="Marks", ascending=False)

   Roll no    Name  Marks
1      102  Dishul     91
0      101    rina     85
2      103    Kiya     78

In [16]:
df.isna().sum()

Roll no    0
Name       0
Marks      0
dtype: int64

In [17]:
df.agg({"Marks": "mean"})

Marks    84.666667
dtype: float64

#Creating a user defined Class

In [20]:
class Person:

    def __init__(self, name: str, age: int, gender: str, occupation: str):

       self.name = name
       self.age = age
       self.gender = gender
       self.occupation = occupation
    
    #Extra functionality for class
    def talk(self):
       print(f"My name is {self.name}")
       print(f"I am currently {self.age} years old")
       print(f"I am {self.gender}")
       print(f"I work as a {self.occupation}")

In [21]:
p1 = Person(name="Nikita", age=23, gender="Female", occupation="Engg")

# Attributes of Class Person

In [22]:
p1.age

23

In [23]:
p1.name

'Nikita'

In [24]:
p1.gender

'Female'

In [25]:
p1.occupation

'Engg'

# Methods of Class Person

In [27]:
p1.talk()

My name is Nikita
I am currently 23 years old
I am Female
I work as a Engg

#Some Disadvantages

In [29]:
p3 = Person(name=23, age="Rahul", gender="Engg", occupation="male")

In [31]:
p3.name

23

In [32]:
p3.age

'Rahul'

In [33]:
p3.talk()

My name is 23
I am currently Rahul years old
I am Engg
I work as a male

#Dataclass in Python

In [34]:
from dataclasses import dataclass
from typing import Literal

In [46]:
@dataclass
class Person2:
    name: str
    age: int
    gender: Literal["male","female"]
    occupation: str

    def __post__init(self):
        errors = []
        if not isinstance(self.name, str):
            errors.append("Name should be a string")
        if not isinstance(self.age, int) or self <=0:
            errors.append("Age should be a positive integer")
        if self.gender not in ["male", "female"]:
            errors.append("Gender should be either male or female")
        if not isinstance(self.occupation, str):
            errors.append("Occupation should be a string")
        if errors:
            raise ValueError("\n".join(errors))
        
    def introduce(self):
        print(f"My name is {self.name}")
        print(f"I am currently {self.age} years old")
        print(f"I am {self.gender}")
        print(f"I am work as a {self.occupation}")

In [47]:
pn1 = Person2(name="Snehal", age=29, gender="female", occupation="Engg")

In [48]:
pn1.introduce()

My name is Snehal
I am currently 29 years old
I am female
I am work as a Engg

In [51]:
pn2 = Person2(name=234, age=29, gender="female", occupation=123)

In [50]:
pn2.introduce()

My name is Snehal
I am currently 29 years old
I am female
I am work as a 123